{% load static %}
{% load i18n %}
<html lang="en">
    <head>
        <title>booldog</title>
        <meta name="author" content="silverania">
        <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/all.min.js' %}"></script>
        <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
        <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <script src="{% static 'js/blog.js' %}" id="s_blog"></script>
    </head>
    <body>
        <script>
    var spanBlogEntra = document.createElement("SPAN");
    var currentUrl = "{{currentUrl}}";
    var authorized = "{{ authorized }}";
    var buttonRispo = "{% trans "Reply" %}"
    var signup="{% trans "Signup" %}"
    window.buttonLinkComment.textContent = "{% trans 'Comment' %}";
    var ablogescitext = "{% trans 'Logout' %}";
    var bbuttontext = "{% trans "Comment" %}";
    var ablogcambiapasswordtext = "{% trans 'Edit' %}";
    var aBlogAdminText = "{% trans 'settings' %}";
    var spanusernametext = "{% trans 'answers to ' %}";
    var _spanusernametext = "{% trans 'alle ' %}";
    var postinserito = "{% trans "Entered" %}";
    var postinviato = "{% trans "Sent" %}";
    var datanow = "{% trans "today at" %}";
    var alle= "{% trans "alle" %}";
    spanBlogEntra.textContent = "{% trans 'Login' %}";
        </script>
        <script defer>
    var thisurl = location.href;
    window.addEventListener("message", function (event) {
      if (!(currentUrl.includes(event.origin))) {
        console.log("messaggio ignorato");
        return -1;
        ("mancata autorizzazione!")
      }
      else {
        /* PIGLI I MESSAGG RU GESUCRIST RU CLIENT
         user = event.data.user;
         password=event.data.password;
         */
        console.log("link autorizzato a invio messaggi !")
      }
    });
    initBlogSGang(currentUrl, authorized);
        </script>
    </body>
</html>
