{% load i18n %}
{% load static %}
<html lang="en">
  <head>
    {% include '_heads.html' %}
    <title>Get Booldog !</title>
    <meta name="keywords" content="download,booldog,messages,hosting,software" />
    <meta name="description" content="messages hosting software download git" />
  </head>
  <body>
    <header>
      <div class="container-fluid">
        <div class="row mt-3">
          <div class="offset-4 col-4 text-center">
            <div id="div_comment_icon" style="margin:0 auto 10% auto">
              <div style="text-align:center;font-weight:bold;" id="blog_icon">
                <a id="a_logo_booldog" class="navbar-brand" href="#">
                  <div class="booldog">
                    <span class="badgebooldog"><i id="titleicon" class="fas fa-comment-dots"></i></span>
                    <span id="booldogtitle" class="spanbooldog">BoolDog</span>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <div class="col-4 mt-1 text-end">
            <div>
              <ul id="loginbooldog" class="list-group mr-0">
                {% if request.user.is_authenticated %}
                  <li id="liTutorial_booldog" class="nav-item" style="text-align:right;">
                    <a class="nav-link" id="aTutorial_booldog" href="{% url "logout" %}"><span id="spanTutorial_booldog"><b>{% trans 'SignUp' %}</b></span></a>
                  </li>
                  <li id="liEsci_booldog" class="nav-item" style="text-align:right;">
                    <a id="aEsci_booldog" class="nav-link"><span id="spanEsci_booldog"><b>{% trans 'Exit' %}</b></span></a>
                  </li>
                {% else %}
                  <li class="nav-item" id="liRegistrati_booldog" style="text-align:right;">
                    <a id="aRegistrati_booldog" class="nav-link" href="{% url 'register' %}admin" ><span id="spanRegistrati_booldog"><b>{% trans 'SignUp' %}</b></span></a>
                  </li>
                  <!--li class="nav-item" style="float:right!important;">
                    <a id="aEntra_booldog" class="nav-link"><span id="spanEntra_booldog"><b>{% trans 'Login' %}</b></span></a>
                  </li-->
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="container-fluid">
        <div class="row mt-3">
          
          
          <div class="offset-2 offset-md-3 col-8 col-md-6 text-center">
            <div><p class="title badge bg-primary">{% trans 'What is Booldog ? ' %}</p>
              <p class="">{% trans 'Booldog is a message hosting service for websites. Install it on your site to allow your visitors to comment. Registering will give you access to the Boolddog admin panel to moderate posts and have control over what is posted on your site.' %}</p>
              <p class="">{% trans 'Boolddog is also used on this page ! in the footer section.' %}</p>
            </div>
            
            <div ><p class="title badge bg-primary">{% trans 'How use it ? ' %}</p>
              <p class="text-start">1) Download <a href="{% url 'files' "booldog.js" %}"><span> booldog.js
              </span></a><span> | 
                <a href="{% url 'files' 'bldg.js'  %}"> <span>bldg.js </span></a>{% trans 'and put them in your root web folder' %}</span></p>
              <p class="text-start">2) {% trans 'SignUp' %} <a href="{% url 'register' %}admin">{% trans 'here' %}</a> {% trans 'to obtain user and password' %}</p>
              <p class="text-start">3) {% trans 'link booldog files in your head !' %}</p>
              <code>&lt;script src="/bldg.js' %}">&lt;/script><br>
                &lt;script src="/booldog.js' %}" defer>&lt;/script></code>
              <p class="text-start mt-3">4) {% trans 'edit the bldg.js file by inserting the username and password chosen to register , in quotes !' %}</p>
            </div>
          </div>
        </div>
    </div>

  </body>
</html>
