{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <meta name="author" content="silverania">
        <title>{% trans 'Signup' %}</title>
        <link rel="stylesheet" href='{% static "node_modules/bootstrap/dist/css/bootstrap.css" %}'>
        <script src="{% static 'node_modules/@popperjs/core/dist/umd/popper.js' %}"></script>
        <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.js' %}"></script>
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/all.min.js' %}"></script>
    </head>
    <body>
        <div class="row">
            <div class="col-12">
                {% block logo %}
                logo
                {% endblock %}
    </div> 
        </div>
    <div class="row">
        <div class="col-3">
    </div>
     <div class="col-6">
        {% block text %}text{% endblock %}
    </div>     
     <div class="col-3">
    </div>            
    </div>        
     <div class="row">
            <div class="col-12">
        {% block footer %}footer {% endblock footer %}
    </body>
</html>
