{% extends "base.html" %}{% load i18n %} {% load static %} {% block content %}
{% if request.user.is_authenticated %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-3 text-center">
            <h2>
                {% trans "Password change for" %}
                <span class="badge bg-info">{{ request.user }}</span>
            </h2>
        </div>
    </div>
    <script>
    var user="{{user}}"
  var pasword="{{password}}"
    
        window.onload = function() {
  var frm = document.getElementById("changepassword");
  frm.action = frm.action + valuenext+"&myuser="+user+"&password="+password+"/";
}
    </script>
    <form id="changepassword" method="POST" action="/user/login/change_password/?mainurl=">
        {% csrf_token %} {% for field in form %}
        {% if "old_password" in field.name%}
        <div class="row my-4 justify-content-center">
            <div class="col col-md-3 text-center">
                <input
                    type="password"
                    class="form-control"
                    name="old_password"
                    id="old_password"
                    placeholder='{% trans " current password " %}'
                    required
                >
            </div>
        </div>
        {% elif "new_password1" in field.name %}
        <div class="row my-4 justify-content-center">
            <div class="col col-md-3 text-center">
                <input
                    type="password"
                    class="form-control"
                    name="new_password1"
                    id="new_password1"
                    placeholder='{% trans " new password " %}'
                    required
                >
            </div>
        </div>
        {% elif "new_password2" in field.name %}
        <div class="row my-4 justify-content-center">
            <div class="col-md-3 text-center">
                <input
                    type="password"
                    class="form-control"
                    name="new_password2"
                    id="new_password2"
                    placeholder='{% trans " repeat password " %}'
                    required
                >
            </div>
        </div>
        {% endif %} {% endfor %}
         <input
                    type="hidden"
                    class="form-control"
                    name="mainurl"
                    value={{valuenext}}   
                >
                 <input
                    type="hidden"
                    class="form-control"
                    name="user"
                    value={{user}}   
                >
                 <input
                    type="hidden"
                    class="form-control"
                    name="password"
                    value={{password}}   
                >
        <div class="row justify-content-center my-4">
            <div class="col-md-3 text-center">
                <div id="div_save_new_password">
                    <input class="btn btn-primary" type="submit">
                </div>
            </div>
        </div>
        {% else %}
        <div class="row my-4 justify-content-center">
            <div class="col-12 col-md-3 text-center">
                {% trans "To change your password, you must first log in! If you don t
                remember your password, you need to recover it" %}
            </div>
            <a id="backhome" href="/booldog?user={{user}}&password={{password}}&mainurl={{valuenext|safe}}&authorized=True">Home</a>
        </div>
    </form>
</div>
{% endif %}
{% endblock content %}
