{% extends "base.html" %}
{% load static %}
{% block title %}Log-in {% endblock title %}

{% block content %}
{% if request.user.is_authenticated %}
<div class="container">

<div class="row justify-content-center">
  <div class="col-12 text-center">
    <h2>Modifica della Password per <span class="badge bg-primary">{{ request.user }}
    </span></h2>
  </div>
</div>

<form method="POST">
  {% csrf_token %}
  
  {% for field in form %}
    {% if "Old password" in field.label_tag %}
    <div class="row my-4">
      <div class="col text-center">
      <label>Password attuale:{{ field }}</label>
    </div>
    </div>

{% elif "New password:" in field.label_tag %}
<div class="row my-4">
  <div class="col text-center">
<label>
nuova Password:{{ field }}
</label>
</div>
</div>
  
{% elif "New password con" in field.label_tag %}
  <div class="row my-4">
    <div class="col text-center">
  <label>
  conferma Password:{{ field }}
  </label>
</div>
  </div>

{% endif %}
{% endfor %}
<div class="row my-4">
    <div class="col text-center">
  <div id="div_save_new_password"><button  class="btn btn-primary" type="submit">Salva</button></div>
    </div>
</div>
{% else %}
<h2> Per modificare la password bisogna prima autenticarsi ! Se non ricordi la tua password , devi recuperarla </h2>
</div>

{% endif %}
{% endblock content %}