{% load i18n %}
{% load static %}
<html>
  <head>
    <meta name="author" content="silverania"\>
    <link rel="stylesheet" href="{% static "node_modules/bootstrap/dist/css/bootstrap.css"%}"\>
    <link rel="stylesheet" href="{% static "css/all.min.css" %}"\>
    <link rel="stylesheet" href="{% static "css/blog.css" %}"\>
    <script  src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/all.min.js' %}"></script>
    <script  src="{% static 'node_modules/bootstrap/dist/js/bootstrap.js' %}"></script>
    </head>
  <body>
    <script>
  window.top.postMessage(
    {
      height: 650,
      base: 350,
    },
    "*"
  );
</script>
    <div class="row justify-content-center">
      <div class="col-12 col-md-3 text-center">
  <h1 align=center>"{% trans "wrong data !" %}"</h1>
  <a href="{% url 'login' %}?mainurl={{currentUrl}}"><div><span style="font-size:3rem;color:green;"> < Torna </span></div></a>
      </div>
    </div>
  </body>
</html>