
    
            {% extends "base.html" %}
{% load i18n %} {% load static %} 
  {% block content %}
  <script>var currentUrl="{{currentUrl}}";</script>
            <div class="container">
                <div id="id_row_title" class="row justify-content-center">
                    <div class="col-4">
                        <div id="id_div_title" style="margin-top:33%" class="class_div_title">
                            <div style="width:100%!important;min-width:100%!important">
                                <div style="width:100%!important;min-width:100%!important">
                                    <span style="margin-bottom:70px;font-weight:heavy;font-size:1vw">Password Modificata !</span>
                                </div>
                                <a id="passwordchanged" href="/booldog?mainurl={{currentUrl|safe}}&authorized=True"">Home</a>
                            </script>
                        </div>
                    </div>
                </div>
            </div>{% endblock %}