{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}SIGNUP{% endblock title %}

{% block content %}
<script>
  window.top.postMessage(
    {
      height: 650,
      base: 350,
    },
    "*"
  );
</script>
<div class="container mt-4">



  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-6 col-md-3 text-center">
      <span class="spanreg title" style="display:inline-block;text-align:center">
        {% trans 'signup' %}</span>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-6 col-md-3 text-center">

      <form method="post" enctype="multipart/form-data" autocomplete="on">
        {% csrf_token %}
        {% trans 'web site' as website %}
        {% trans 'repeat password' as repeat %}
        <ul class="list-group list-group-flush">
          {{ form.non_field_errors }}

          {% for field in form %}

          {{field.errors}}
          {% if 'password1' in field.label_tag %}
          <li class="list-group-item">
            <input class="form-control" placeholder="password" type="password" name="password1" required
              id="id_password1">
          </li>
          {% elif 'password2' in field.label_tag %}
          <li class="list-group-item">
            <input class="form-control" placeholder="{{repeat}}" type="password" name="password2" required
              id="id_password2">
          </li>
          {% elif 'website' in field.label_tag %}
          {% if 'blog' in request.get_full_path %}
          <li class="list-group-item" lang="it"><small style="color: grey">{% trans "Website optional" %}</small>
            {% endif %}
          <li class="list-group-item mb-3">
            <input class="form-control" placeholder="{{website}}" type="text" name="website" required=""
              id="id_website">
          </li>
          {% elif 'Photo' in field.label_tag %}

          <li class="list-group-item" lang="it"><small style="color: grey">{% trans "optional photo" %}</small>

            <input lang="it" value="{% trans 'choose photo' %}" class="form-control" placeholder="photo" type="file"
              name="photo" required="" id="id_photo">
          </li>
          {% elif 'Username' in field.label_tag %}
          <li class="list-group-item">
            <input class="form-control" placeholder="username" type="text" name="username" required="" id="id_username">
          </li>
          {% elif 'email' in field.label_tag %}
          <li class="list-group-item">
            <input class="form-control" placeholder="email" type="email" name="email" required="True" id="id_email">
          </li>

          {% else %}
          {% endif %}


          <!--script>setTimeout(() => { window.location.href = "/user/register" }, 5000);</script-->


          {% endfor %}
        </ul>
        <div>
          <button  style="display:block;margin:0 auto !important;"
            class="btn btn-warning mt-5" type="submit">{% trans 'signup' %}</button>
        </div>



    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-3">
      <p></p>
      <label class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" value="remember-me">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">{% trans 'remember me' %}</span>
      </label>


    </div>
    <div class="col-xs-12 col-sm-3">
      <p class="">
        <a href="#">{% block trans %}{% trans 'Password forgot ?' %}{% endblock %}</a>
      </p>
    </div>
  </div>





</div>
<script>
  $(document).ready(function () {
    var login = "{{ request.user.is_authenticated }}"
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% endblock content %}